@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700&subset=cyrillic');

* {
    box-sizing: border-box;
}

h2 {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -3.2px;
    line-height: 1.2;
}

.text_upper {
    text-transform: uppercase;
}

.btn {
    height: 52px;
    position: absolute;
    /*for gradient border around the button*/
    background: linear-gradient(#489fdb, #5f84be);
    padding: 1px;
    border-radius: 7px;

    img {
        height: 30px;
    }

    button {
        width: 100%;
        height: 100%;
        background: linear-gradient(#3bb1e0, #3a85bd);
        border: none;
        border-radius: 6px;
        position: relative;
        z-index: 230;

        span {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            color: #ffffff;
            position: relative;
            z-index: 250;
        }
    }
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;

    header {
        height: 79px;
        width: 100%;

        .content {
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 1126px;
            margin-left: 88px;

            .menu {
                display: flex; /*for  а -- height=100%*/
                justify-content: space-between;
                width: 680px;

                a {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    color: #aab1b5;
                    font-family: "Open Sans", sans-serif;
                    letter-spacing: -1px;
                    border-bottom: solid 4px rgba(252, 214, 51, 0);
                    text-decoration: none;

                    &:hover {
                        color: #858888;
                        border-bottom: solid 4px rgba(252, 214, 51, 1);
                    }
                }   
            }
        }
    } /*header*/
    
    .all_cards {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "_child_card _basic_sport"
                            "_full_immertion _aqua_yoga";
        grid-template-rows: 516px auto;
        grid-auto-rows: 258px;
        grid-column-gap: 0px;

        &:nth-child(1) {
            grid-area: _child_card;
        }
        &:nth-child(2) {
            grid-area: _basic_sport;
        }
        &:nth-child(3) {
            grid-area: _full_immertion;
        }
        &:nth-child(4) {
            grid-area: _aqua_yoga;
        }

        .size1 {
            h2 {
                font-size: 54px;
                margin: 20px 0 21px -3px;
                padding-right: 126px;
                height: 130px;
            }

            .card_content {
                height: 417px;
                margin: 60px 68px 38px 67px;
            }
        }

        .size2 {
            // height: 258px;

            h2 {
                margin: 14px 0 0 -3px;
                padding-right: 0;
                height: 50px;
            }

            .card_description {
                margin-top: 10px;
                padding-right: 66px;
            }
            
            .card_content {
                height: 200px;
                margin: 33px 68px 24px 67px;
            }
        }

        .size3 {
            width: 28%;
            min-height: 124px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            font-family: "Open Sans", sans-serif;
            color: #fefefe;
            background-size: cover;
            position: relative;
            z-index: 20;

            /*background darkening of card */
            &::before {
                width: 100%;
                height: 100%;
                display: block;
                content: " ";
                opacity: 0.5;
                position: absolute;
                top: 0px;
                z-index: 40;
            }

            .card_content {
                position: relative;
                z-index: 80;
    
                /*info*/
                .info {
                    width: 360px;

                    .card_name {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 1.8;
                        letter-spacing: -1.8px;
                        word-spacing: 9px;
                        text-align: center;
                        height: 31px;    
                        border-radius: 4px;
                        display: inline-flex;

                        &>span {
                            padding: 0 12px 0 12px;
                        }
                        .lett_spase0 {
                            letter-spacing: 0;
                        }
                    }

                    .card_description {
                        font-size: 19px;
                        font-weight: 300;
                        letter-spacing: -2.1px;
                        line-height: 1.25;
                        padding-right: 126px;
                    }
                } /*info*/
        
                /*button BUY*/
                .btn {
                    width: 119px;
                    top: 0px;
                    right: 21px;

                    &::after {
                        width: 40px;
                        height: 40px;
                        background: linear-gradient(135deg, #489fdb, #5f84be);
                        border-radius: 6px;
                        box-sizing: border-box;
                        display: block;
                        content: " ";
                        position: absolute;
                        transform: rotate(45deg);
                        top: 6px;
                        right: -15px;
                        z-index: 150;
                    }

                    button {
                        &::after {
                            width: 38px;
                            height: 38px;
                            background: linear-gradient(135deg, #3bb1e0, #3a85bd);
                            border-radius: 5px;
                            display: block;
                            content: " ";
                            position: absolute;
                            transform: rotate(45deg);
                            top: 6px;
                            right: -15px;
                            z-index: 200;
                        }

                        span {
                            padding-left: 15px;

                            &::before {
                                display: inline-block;
                                content: url(../images/shopping-cart.svg);
                                height: 20px;
                                width: 20px;
                                position: absolute;
                                left: -8px;
                                top: 2px;
                            }
                        }
                    }
                } /*.btn of button BUY*/

                /*price*/
                .card_price {
                    width: 108px;
                    height: 32px;
                    background: #f5c600;
                    text-align: center;
                    border-radius: 4px;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    z-index: 50;
    
                    span {
                        font-weight: 700;
                        font-size: 26px;
                        letter-spacing: 1.8px;
                        color: #545628;
                    }
                } /*.card_price*/
            } /*.card_content*/
        } /*.card*/

        .child_card {
            background-image: url("../images/child_card.jpg");
            // grid-area: _child_card;

            .card_name, &.card::before {
                background-color: #058cff;
            }
        }
        
        .basic_sport {
            background-image: url("../images/ball1.jpg");
            // grid-area: _basic_sport;
        
            .card_name,  &.card::before {
                background-color: #db28b3;
            }
        }
        
        .full_immertion {
            background-image: url("..//images/full_immertion.jpg");
            // grid-area: _full_immertion;
        
            .card_name,  &.card::before {
                background-color: #02828f;
            }
        }
        
        .aqua_yoga {
            background-image: url("..//images/yoga3_cut.png");
            // grid-area: _aqua_yoga;
        
            &, h2 {
                color: #5e6a75;
            }
            .card_name,  &.card::before {
                background-color: #ffffff;
            }
        }
    } /*.all_cards*/
}


